/* ALL HAIL LUIS! */

header {
  font-family: "Fontdiner Swanky";
  text-align: center;
  margin-top: 2%;
  font-size: 150%;
}

.progress {
  height: 50vh;
}

.downloadnow {
  padding: 20px;
  font-size: 2vw;
  background-color: #00ff00;
  display: block;
  /* border-radius: 15px; */
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Fontdiner Swanky";
  margin: 0;
}

.downloadnow:after {
  content: 'START DOWNLOAD';
}

.downloadnow:hover:after {
  content: '🔒SECURE DOWNLOAD🔒';

}

.topBar {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
}

.allModules {
  margin-top: 5%;
  display: block;
  /* border: #00ff00 solid 2px; */
}

.logos #mainlogo {
  display: block;
  margin: 5% auto 0 auto;
  width: 30%;
}

.logos #secondlogo {
  text-align: center;
  display: inline-block;
  margin: 1% auto 5% auto;
  width: 100%;
}

.module {
  display: block;
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  vertical-align: middle;
  margin: 5% 0 7% 0;
}

.module-contents {
  display: block;
  /* margin-left: 5%; */
  margin: 2% 0 2% 5%;
  /*top right bottom left*/
  /* vertical-align: middle; */
}

.module div a {
  display: inline-block;
  font-size: 1.5em;
  float: left;
}

.iscompletedparent {
  margin-right: 5%;
  /* display: inline-block; */
  /* float: right; */
  /* text-align: right;
  vertical-align: middle;
  align-self: right; */
}

.iscompleted {
  /* display: inline-block; */
  float: right;
  color: red;
}